header{
	height: 72px;
	background-color: #d43b33;
}
#logo{
	width: 118px;
	height: 72px;
	background: url(../images/LOGO.png);
}
#nav .mainnav>li{
	float: left;
	height: 42px;
	font: 16px/22px "微软雅黑";
	margin-right: 38px;
	margin-top: 30px;
	position: relative;
}
#nav .mainnav li a:hover{
	display: block;
	height: 42px;
	background: url(../images/nav_bg.png) no-repeat;
	background-position: center bottom;
	text-decoration: none;
}
#nav .mainnav li a{
	color: white;
}
#nav .mainnav li:hover .subnav{
	display: block;
}
header #nav .subnav{
	background-color: rgba(163,0,0,0.5);
	font-size: 14px;
	position: absolute;
	display: none;
	left: 0px;
	top: 42px;
}
header #nav .subnav li{
	color: white;
	width: 90px;
	padding: 5px;
	border-bottom: solid 1px orangered;
}
/*banner样式*/
#banner img{
	width: 100%;
	min-width: 1000px;
}
